<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.net>
    <mailSettings>
      <smtp from="leprechaun@SecretSanta.com">
        <network host="smtpserver1" port="25" userName="username" password="secret" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
